body {
	text-align: center;
}

#con-1 {
	background-image: url(../images/backgrounds/h_img.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 97vh;
	color: white;
}

#disp {
    padding-top: 20vh;
    padding-bottom: 20px;
}

#mouse {
    padding-top: 130px;
}

#con-2 {
	padding-top: 50px;
	padding-bottom: 50px;
}

#con-3 {
	background-image: url(../images/backgrounds/s_image.jpg);
	color: white;
	padding: 100px 10%;
}

.p1,.p2,.p3 {
	display: none;
}

#con-4 h1 {
margin-top: 50px;
margin-bottom: 50px;
}

#con-5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 70vw;
	margin: 30px auto;
	padding: 4.7px;
}

.pp1,.pp2,.pp3,.pp4,.pp5,.pp6,.pp7,.pp8 {
	width: 153px;
	height: 153px;
	margin: 5px;
}

.pp1 {
	background-image: url(../images/portfolio/work4.jpg);
	background-size: cover;
}

.pp2 {
	background-image: url(../images/portfolio/work3.jpg);
	background-size: cover;
}

.pp3 {
	background-image: url(../images/portfolio/work2.jpg);
	background-size: cover;
}

.pp4 {
	background-image: url(../images/portfolio/work1.jpg);
	background-size: cover;
}

.pp5 {
	background-image: url(../images/portfolio/work5.jpg);
	background-size: cover;
}

.pp6 {
	background-image: url(../images/portfolio/work6.jpg);
	background-size: cover;
}

.pp7 {
	background-image: url(../images/portfolio/work7.jpg);
	background-size: cover;
}

.pp8 {
	background-image: url(../images/portfolio/work8.jpg);
	background-size: cover;
}

.text {
	background-color: rgba(247, 248, 249,0.7);
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	margin-top: 20px;
	opacity: 0;
}

.text<p {
	padding-top: 67px;
}

#con-6 {
	background-image: url(../images/backgrounds/c_image.jpg);
	padding: 40px 5px;
	color: white;
	max-width: 100vw;
}

form{
  width: 700px;
  max-width: 90%;
}
::placeholder{
  color: rgb(204, 204, 204);
}
form input{
  width:49%;
}
form input, form textarea{
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 7px;
}
form textarea{
  margin-top: 20px;
  width: 98.8%;
}

footer{
  padding-top: 40px;
  text-align: center;
  max-width: 70vw;
  margin: 0 auto;
}  