body {
	text-align: center;
}

#con-1 {
	background-image: url(./img.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 97vh;
}

#con-3 {
	background-image: url("images/s_image.jpg");
}

.p1,.p2,.p3 {
	display: none;
}

#con-5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 70vw;
	margin: 30px auto;
	padding: 4.7px;
}